html, body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 80px auto 0;
}

.container {
  width: 480px;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.header {
  background: #2090ea;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.gif-container {
  column-count: 4;
  column-gap: 1em;
  width: 824px;
  margin: 0 auto;
}

.gif {
  display: block;
  padding: 3px;
  width: 100%;
}

.footer {
  margin-top: 40px;
  padding: 20px;
}

form {
  width: 100%;
}

input[type="text"] {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  color: #666;
  border: none;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}
